.buttonContainer {
    display: flex;
    justify-content: space-around;
}

.editButtonContainer {
    display: flex;
    justify-content: left;
}

.cancelButtonContainer {
    display: flex;
    justify-content: right;
}


